@import "../../styles/main.scss";
.header {
  height: calc(200px + 100vh);
  max-height: 700px;
  position: relative;
  .navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    h1 {
      font-family: "DM Serif Display";
      font-weight: 400;
      font-size: 36px;
      line-height: 95.6%;
      color: #4b4b4b;
    }
    .links {
      display: flex;
      gap: 20px;
      li {
        a {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 24px;
          line-height: 95.6%;
          color: #4b4b4b;
        }
      }
    }
    .socialIcons {
      display: flex;
      gap: 10px;
      li {
        a {
          color: #4b4b4b;
          font-size: 24px;
        }
      }
    }
  }
  .infoImage {
    position: relative;
    margin-top: 70px;
    .info {
      position: absolute;
      width: 492px;
      height: 452px;
      left: 103px;
      top: 254px;
      background: rgba(255, 255, 255, 0.78);
      backdrop-filter: blur(30px);
      z-index: 1;
      padding: 30px 0;
      h2 {
        font-family: "DM Serif Display";
        font-weight: 400;
        font-size: 64px;
        line-height: 100%;
        color: #4b4b4b;
      }
      p {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #737373;
      }
    }
    .image {
      float: right;
      width: 70%;
      img {
        width: 100%;
      }
    }
  }
  .mobileMenu {
    position: absolute;
    padding: 10px;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    z-index: 1;
    left: -100%;
    transition: all 0.3s ease-in-out;
    .buttons {
      font-size: 30px;
      float: right;
      cursor: pointer;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 50px;

      li {
        a {
          color: #4b4b4b;
        }
      }
    }
  }
}

.menuIcon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

@media (max-width: 575.98px) {
  .menuIcon {
    display: block;
  }
  .header {
    .navItems {
      .links {
        display: none;
      }
    }
  }
}
